pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#renderWrapper {
  position: relative;
  display: inline-block;
}

#renderOverlay {
  position: absolute;
  display: flex;

  z-index: 9999;

  opacity: 0;
  transition: opacity 0.2s ease-in;

  -webkit-user-select: none !important;
  user-select: none !important;
  pointer-events: none !important;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  background: rgba(255, 255, 255, 0.8);
}

#renderOverlay.show {
  opacity: 100%;
}

#loaderWrapper, #countdownWrapper {
  opacity: 0;
  pointer-events: none !important;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: center;
}

#loaderWrapper.show, #countdownWrapper.show {
  opacity: 1;
}

#renderOverlay p {
  /* Make it inline so it stays in the center, based on the parent
     flex */
  display: inline-block;

  font-family: sans-serif;
  font-size: 24pt;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#renderOverlay p.big {
    font-size: 144pt;
}

#render {
  pointer-events: none;
}

/* Flip the video */
#render {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

 #loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #4CAF50; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s ease-in-out infinite;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
