a, .text {
    font-family: "Rubik", sans-serif;
    color: #404040;
    text-align: center;
}

#title {
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.sign-overview {
    width:250px;
    text-align:center;
    display: inline-block;

    font-size: 20px;
    padding: 20px 0;
    color: #404040;
    vertical-align: bottom;
}


.sign-link {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;
}

.sign-image {
    max-width: 250px;
    max-height: 250px;
}

.sign-text {
    font-size: 20px;

}

/*figure {

    margin:10px;
    display:inline-block;
    vertical-align:bottom;
    text-align: center;
}*/
