{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'father/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3d3cdc9eb9.js" crossorigin="anonymous"></script>
    <title>Father Sign</title>

  </head>
  <body onload="refreshVideos()">
    <header class="header">
      <nav class="main-nav">
          <ul class="main-nav-list">
            <li> <a class="main-nav-link" href="/home"> <i class="fa-solid fa-house"></i></a></li>
            <li><a class="main-nav-link" href="/turkish"> Turkish </a></li>
            <li><a class="main-nav-link" href="#"> American </a></li>
          </ul>
      </nav>
    </header>

    <main>
        <div>
            <h3 class="text" id="title">Lets teach you Father!</h3>
            <h4 class="text" id="intro">First, Watch the follow videos to see how its performed</h4>
            <p class="text">Play close attention to the signers movements. Signs can be performed with either hand so use whichever feels comfortable to you!</p>
            <button onclick="refreshVideos()" class="button">Refresh Videos</button>

            <div class="grid-container">

                <div> <a id="video1"> </a> </div>
                <div> <a id="video2"> </a> </div>
                <div> <a id="video3"> </a> </div>

                    <script>


                        function refreshVideos() {

                            // Three random videos
                            const exampleVideos = ['video1', 'video2', 'video3'];
                            let videos = Array(0, 1, 2, 3, 4, 5, 6, 7, 8);

                            let container = "";
                            // Generate random video for each video div
                            exampleVideos.forEach(randomFunction);


                            function randomFunction(value) {
                                // get random index value

                                container = document.getElementById(value);
                                empty(container);

                                const randomIndex = Math.floor(Math.random() * videos.length);

                                //# generate random number
                                //let number = Math.floor(Math.random() * 9);
                                let number = videos[randomIndex];
                                videos.splice(randomIndex, 1);
                                let mySrc = "/static/father/videos/webm/" + number + ".webm";

                                //# create video element to append into above <a> tag
                                let tmpElement = document.createElement("video");
                                tmpElement.setAttribute("controls", "true");
                                tmpElement.setAttribute("width", "384");
                                tmpElement.setAttribute("src", mySrc);

                                //# append the dynamically created element...
                                container = document.getElementById(value);
                                container.appendChild(tmpElement);
                            }

                            function empty(element) {
                                    while(element.firstElementChild) {
                                     element.firstElementChild.remove();
                                    }
                                }
                        }

                    //# generate random number
                    //let number = Math.floor(Math.random() * 9);
                    //let mySrc = "/static/father/videos/webm/" + number + ".webm";

                    //# create video element to append into above <a> tag
                    //tmpElement = document.createElement( "video");
                    //tmpElement.setAttribute("controls", "true" );
                    //tmpElement.setAttribute("width", "384");
                    //tmpElement.setAttribute("src", mySrc);

                    //# append the dynamically created element...
                    // container = document.getElementById("video1");
                    // container.appendChild(tmpElement);

                    </script>

            </div>

        </div>

    </main>
  </body>
</html>

