{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sign/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3d3cdc9eb9.js" crossorigin="anonymous"></script>
    <title>{{sign}} Sign</title>

  </head>
  <body onload="refreshVideos()">
    <header class="header">
      <nav class="main-nav">
          <ul class="main-nav-list">
            <li> <a class="main-nav-link" href="/home"> <i class="fa-solid fa-house"></i></a></li>
            <li><a class="main-nav-link" href="/turkish"> Turkish </a></li>
            <li><a class="main-nav-link" href="#"> American </a></li>
          </ul>
      </nav>
    </header>

    <main>
        <div>
            <h3 class="text" id="title">Lets teach you '{{ sign }}'</h3>
            <h4 class="text" id="intro">First, Watch the follow videos to see how its performed</h4>
            <p class="text">Play close attention to the signers movements. Signs can be performed with either hand so use whichever feels comfortable to you!</p>
            <button onclick="refreshVideos()" class="button buttonRefresh">Refresh Videos</button>
            <!-- Trigger/Open The Modal -->
            <button class="button buttonTest" id="test">Test yourself</button>

            <!-- The Modal -->
            <div id="popup" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <input id="checkboxAgree" type="checkbox" name="checkboxAgree" value="Yes">
                  <label for="checkboxAgree"> I Agree</label><br>
                <p id="demo"></p>
                <button onclick="checkAgree()" class="button" id="proceed-btn">Test yourself</button>
              </div>
            </div>

            <div class="grid-container">

                <div> <a id="video1"> </a> </div>
                <div> <a id="video2"> </a> </div>
                <div> <a id="video3"> </a> </div>

                <script type="text/javascript">
                    const sign = "{{ sign }}"
                </script>
                <script src="{% static 'sign/script.js' %}" > </script>

            </div>

        </div>

    </main>
  </body>
</html>

