<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3d3cdc9eb9.js" crossorigin="anonymous"></script>
    <title>{{ sign }} Sign</title>

      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'common/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'test/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <nav class="main-nav">
          <ul class="main-nav-list">
            <li> <a class="main-nav-link" href="/home"> <i class="fa-solid fa-house"></i></a></li>
            <li><a class="main-nav-link" href="/turkish"> Turkish </a></li>
            <li><a class="main-nav-link" href="#"> American </a></li>
          </ul>
      </nav>
    </header>

        <main>
            <div>
                <h3 class="text"> Text about setting up for recording</h3>
                <p><button class="button" id="startButton">Start Recording</button></p>
                <div id="renderWrapper">
                  <div id="renderOverlay">
                    <div id="loaderWrapper">
                        <div class="loader" id="loader"></div>
                        <p id="renderProcessing">Checking your video...</p>
                    </div>
                    <div id="countdownWrapper">
                        <p class="big" id="renderCounter">3</p>
                        <p id="renderLoading">Get ready!</p>
                    </div>
                  </div>
                  <video autoplay id="render"></video>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>

                <!-- The Modal -->
            <div id="popup" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <p id="feedback"></p>
                <div class="grid-container">

                    <div> <a id="grid-child-example"> </a> </div>

                    <div> <a id="grid-child-user"> </a> </div>

                    <button class="button" id="again-btn">Try again</button></div>

                </div>
              </div>
            </div>

                <script>const pageData = { sign: "{{ sign }}" };</script>
                <script src="{% static 'test/script.js' %}"></script>

            </div>
        </main>